.header-container {
  display: flex;
  justify-content: space-between;
  background: #147d73;
  color: white;
  padding: 19px 16px;
  flex: 1 1 auto;
  height: fit-content;
  .info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 1.5;
    .name {
      font-size: 1rem;
      font-weight: 500;
    }
    .date {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
  .notification {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    align-items: center;
    gap: 12px;
    .icons {
      display: flex;
      gap: 12px;
      .circle-frame {
        background: white;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        img {
          margin-top: 10px;
        }
      }
    }
    .profile {
      display: flex;
      gap: 12px;
      margin-left: 32px;
      .intro {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        .name {
          font-size: 1rem;
          font-weight: 500;
        }
        .about {
          font-size: 0.75rem;
          font-weight: 400;
        }
      }
      img {
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
    }
  }
}
